<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.kuanquan.demo.dao.PersonMapperDao">

    <select id="findPersonById" resultType="Person" parameterType="long">
        SELECT * FROM user WHERE user_id = #{id}
    </select>

    <select id="findPersonName" resultType="String" parameterType="long">
        SELECT name FROM user WHERE user_id = #{id}
    </select>

    <delete id="deletePerson" parameterType="long" >
        DELETE FROM user WHERE user_id = #{id}
    </delete>

    <!--更新单条记录-->
    <update id="updataPerson" parameterType="com.kuanquan.demo.entity.User">
        UPDATE user SET name = #{name} WHERE user_id = #{user_id}
    </update>

    <!--插入一条记录-->
    <insert id="insertPerson" parameterType="com.kuanquan.demo.entity.User">
        insert into user(user_id,name,age,sex,create_time,_timestamp) values(#{user_id},#{name},#{age},#{sex},#{create_time},#{_timestamp})
    </insert>
</mapper>